<div class="container mx-auto sm:px-2 md:px-6">
  <!-- INFO -->
  <div class="mt-12 mx-4 text-center">
    <div class="inline-block w-6 h-1 bg-logo-cyan"></div>
    <div class="inline-block w-6 h-1 bg-logo-orange"></div>
    <h1 class="block text-4xl mt-3 mb-10 font-medium text-center">
      Zarządzanie produktami
    </h1>
    <%= link_to manage_index_path, class: "w-24 h-24 p-4 border rounded font-medium hover:text-blue-dark uppercase" do %>
      <i class="fas fa-undo mr-1"></i> Wróć
    <% end %>
  </div>
  <!-- LISTA -->
  <div class="mt-12">
    <table class="w-full">
      <thead class="text-left">
        <tr>
          <th class="pb-4 w-8">#</th>
          <th class="w-12 pb-4">Zdjęcie</th>
          <th class="w-64 pl-4 pb-4">Nazwa</th>
          <th class="w-8 pl-4 pb-4">Ilość</th>
          <th class="pl-4 pb-4">Cena</th>
        </tr>
      </thead>
      <tbody class="text-left">
        <% @products.each do |product| %>
        <tr>
          <td class="border-b w-8 py-2">
            <% if product.available %>
              <div class="w-4 h-4 rounded-full bg-green"></div>
            <% else %>
              <div class="w-4 h-4 rounded-full bg-red"></div>
            <% end %>
          </td>
          <td class="w-12 py-2 border-b"><%= image_tag product.file, class: "w-12 h-12" %></td>
          <td class="w-64 pl-4 py-2 border-b font-medium"><%= product.name %></td>
          <td class="w-8 pl-4 py-2 border-b"><%= product.quantity %></td>
          <td class="pl-4 py-2 border-b"><%= product.price %> zł</td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
