<div class="container-fluid mx-auto sm:px-6">

  <% if notice || alert %>
    <div class="bg-red-lightest text-red-dark mb-4 py-4 relative font-medium" role="alert">
      <span class="block sm:inline sm:px-4"><%= notice %> <%= alert %></span>
    </div>
  <% end %>
  <h2 class="text-3xl mb-4 font-medium">Logowanie</h2>
  <!-- NOTICE -->
  <p class="mb-4 text-sm text-grey-dark leading-normal">
    Jeżeli jesteś adminem to jedziesz z logowaniem.<br/>W innym wypadku idziesz z buta.
  </p>
  <!-- FIELDS -->
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field mb-3">
      <label class="block text-sm mb-2">
        E-mail
      </label>
      <%= f.email_field :email, autocomplete: "email", class: "border border-grey-light bg-white text-black inline-block sm:w-full md:w-1/2 lg:w-1/3 rounded py-3 px-4" %>
    </div>
    <!-- PASSWORD -->
    <div class="field mb-3">
      <label class="block text-sm mb-2">
        Hasło
      </label>
      <%= f.password_field :password, autocomplete: "current-password", class: "border border-grey-light bg-white text-black inline-block sm:w-full md:w-1/2 lg:w-1/3 rounded py-3 px-4" %>
    </div>
    <!-- REMEMBER -->
    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <label class="text-sm ml-1">Zapamiętaj</label>
      </div>
    <% end -%>
    <!-- BUTTON -->
    <div class="actions">
      <%= f.submit "Zaloguj", class: "sm:block sm:w-full my-6 py-5 bg-green text-white text-center font-bold hover:bg-green-dark hover:text-white cursor-pointer" %>
    </div>
  <% end %>

  <%= render "admins/shared/links" %>

</div>
