<div class="container-fluid mx-auto mt-12 md:px-10">
  <h1 class="sm:px-6 md:px-0 text-center font-bold" id="title-mobile" style="line-height: 1.3;">
    So what's the fabric<br/>
    <span class="font-light">of your dreams?</span><br/>
    Travel
  </h1>
  <div class="w-12 mt-4 mx-auto bg-black" style="height: 2px;"></div>
  
  <div class="flex flex-wrap mt-12">
  <% @posts.each do |post| %>
  <!-- POST -->
  <div class="inline-block w-full sm:w-full md:w-1/2 lg:w-1/3 pb-8 md:px-4 text-center">
    <div class="image-box relative overflow-hidden bg-grey-lighter">
      <%= link_to post do %>
        <div class="absolute pin">
          <% if post.image_primary.attached? %>
            <%= image_tag(post.image_helper(post.image_primary, "grid", @scale.to_i, 342), class: "object-fit: cover;") %>
            
          <% end %>
        </div>
      <% end %>
    </div>
    <%= link_to post do %>
      <h2 class="mt-6 font-bold" style="font-size: 24px;"><%= post.title %></h2>
    <% end %>
    <p class="mt-2 text-grey-darker" style="font-size: 18px;"><%= post.local %>, <%= post.date.strftime("%d.%m.%Y") %></p>
  </div>

    
  <% end %>
  </div>
</div>