<div class="container-fluid mx-auto md:mt-2 sm:px-6 md:px-10">
  <div class="mb-6">
    <h1 class="post-title text-4xl text-center font-bold"><%= @post.title %></h1>
    <p class="post-title mt-4 text-center text-grey-dark"><%= @post.local %> - <%= @post.date.strftime("%d.%m.%Y") %></p>
  </div>
  <% if @post.image_primary.attached? %>
  <p>
    <%= image_tag @post.image_primary %>
  </p>
  <% end %>
  <p class="mt-4 text-center italic"><%= @post.image_description %></p>

  <div class="sm:w-full md:w-2/3 my-8 mx-auto">
    <p class="post-title text-lg text-grey-darkest leading-loose">
      <%= @post.subtitle %>
    </p>
  </div>

  <div class="sm:w-full md:w-2/3 my-8 mx-auto">
    <p class="text-lg text-grey-darkest leading-loose">
      <%= @post.content %>
    </p>
  </div>

  <div class="mx-auto items-center">
    <div class="inline-block mr-2 mb-1"><%= image_tag @post.image_two, class: "h-32" %></div>
    <div class="inline-block mr-2 mb-1"><%= image_tag @post.image_three, class: "h-32" %></div>
    <div class="inline-block mr-2 mb-1"><%= image_tag @post.image_four, class: "h-32" %></div>
    <div class="inline-block mr-2 mb-1"><%= image_tag @post.image_five, class: "h-32" %></div>
  </div>
  
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %>
</div>