<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>[]
      </ul>
    </div>
  <% end %>
  <!-- NAZWA -->
  <label class="block text-sm mb-2">
    Nazwa
  </label>
  <%= form.text_field :name, class: "border border-grey-light bg-white text-black inline-block w-full rounded p-3" %>

  <!-- CENA MAGAZYN DOSTEPNOSC -->
  <div class="md:inline-flex w-full items-center">
    <div class="flex-1 field sm:mt-3 md:mr-6">
      <label class="block text-sm mb-2">
        Cena
      </label>
      <%= form.number_field :price, class: "border border-grey-light bg-white text-black inline-block w-full rounded p-3" %>
    </div>
    <div class="flex-1 field sm:mt-3 md:mr-6">
      <label class="block text-sm mb-2">
        Magazyn
      </label>
      <%= form.number_field :quantity, class: "border border-grey-light bg-white text-black inline-block w-full rounded p-3" %>
    </div>
    <div class="flex-1 field mt-5">
      <%= form.check_box :available, id: :product_available %>
      <label>
        Dostępne
      </label>
      <%= form.check_box :visible, id: :product_visible, class: "ml-3" %>
      <label>
        Widoczne
      </label>
    </div>
  </div>

  <!-- KATEGORIA SKAD MATERIALY -->
  <div class="sm:mt-4 md:mt-0 md:inline-flex w-full items-center">
    <div class="flex-1 field sm:mt-3 md:mr-6">
      <label class="block text-sm mb-2">
        Kategoria
      </label>
      <%= form.select :category, Category.all.pluck(:name, :id), {}, { multiple: true, class: "w-full categories" } %>
    </div>
    <div class="flex-1 field sm:mt-3 md:mr-6">
      <label class="block text-sm mb-2">
        Skąd?
      </label>
      <%= form.collection_select(:where_from, WhereFrom.order("name ASC"), :id, :name, {:include_blank => ''}, { class: 'w-full skad' }) %>
    </div>
    <div class="flex-1 field sm:mt-3">
      <label class="block text-sm mb-2">
        Materiały
      </label>
      <%= form.select :material, Material.all.pluck(:name, :id), {}, { multiple: true, class: "w-full materials" } %>
    </div>
  </div>

  <!-- OPIS -->
  <div class="sm:mt-3">
    <label class="block text-sm mb-2">
      Opis
    </label>
    <%= form.text_area :description, rows: "10", id: :product_description, class: "border border-grey-light bg-white text-black inline-block w-full rounded p-3" %>
  </div>

  <!-- KOLOR JAK DBAC -->
  <div class="md:inline-flex w-full items-center">
    <div class="flex-1 field sm:mt-3 md:mr-6">
      <label class="block text-sm mb-2">
        Kolor
      </label>
      <%= form.select :color, Color.all.pluck(:name, :id), {}, { multiple: true, class: "w-full colors" } %>
    </div>
    <div class="flex-1 field sm:mt-3">
      <label class="block text-sm mb-2">
        Jak dbać?
      </label>
      <%= form.collection_select(:care, WhereFrom.order("name ASC"), :id, :name, {:include_blank => ''}, { class: 'w-full skad' }) %>
    </div>
  </div>

  <% if @product.file.attached? %>
    <div class="w-48 h-48 mb-4">
      <%= image_tag @product.file %>
    </div>
  <% end %>

  <div class="field mb-4">
    <%= form.label "Zdjęcie główne", class: "block mb-2" %>
    <%= form.file_field :file %>
  </div>

  <% if @product.file_2.attached? %>
    <div class="w-48 h-48 mb-4">
      <%= image_tag @product.file_2 %>
    </div>
  <% end %>

  <div class="field mb-4">
    <%= form.label "Zdjęcie nr 2", class: "block mb-2" %>
    <%= form.file_field :file_2 %>
  </div>

  <div class="actions">
    <%= form.submit "Zapisz", class: "btn bg-green-light my-4 px-4 py-3 font-medium text-white hover:bg-green hover:text-white cursor-pointer" %>
  </div>
<% end %>
