<div class="container-fluid mx-auto sm:px-6">
  <!-- NAPIS -->
  <div class="mt-6 text-center">
    <div class="inline-block w-6 h-1 bg-logo-cyan"></div>
    <div class="inline-block w-6 h-1 bg-logo-orange"></div>
    <h1 class="block text-3xl mt-3 mb-6 font-medium text-center">
      Wszystkie
      <% if params[:show].to_i == 0 %>produkty<% end %>
      <% if params[:show].to_i == 1 %>ciuchy<% end %>
      <% if params[:show].to_i == 2 %>konopne<% end %>
      <% if params[:show].to_i == 3 %>kadzidła<% end %>
      <% if params[:show].to_i == 4 %>akcesoria<% end %>
    </h1>
    <p class="block mb-2 leading-normal text-grey-darkest">
      Coś tam opisujące, jak to świetnie jest zrobić zakupsy wspierając Fair Trade.<br/>
      To zdecydowanie przekona wielu ludzików.
    </p>
  </div>
  <!-- TAGI -->
  <div class="flex flex-wrap sm:mt-6 sm:mb-6 md:mt-8 md:mb-12 justify-center">
    <%= link_to products_path, class: active(0) + "inline-block px-3 py-3 border-2 font-medium mb-2 mx-1" do %>
      Wszystkie
    <% end %>
    <%= link_to products_path(show: '1'), class: active(1) + "inline-block px-3 py-3 border-2 font-medium mb-2 mx-1" do %>
      Ciuchy
    <% end %>
    <%= link_to products_path(show: '3'), class: active(3) +  "inline-block px-3 py-3 border-2 font-medium mb-2 mx-1" do %>
      Kadzidła
    <% end %>
    <%= link_to products_path(show: '2'), class: active(2) +  "inline-block px-3 py-3 border-2 font-medium mb-2 mx-1" do %>
      Konopne
    <% end %>
    <!-- CATEGORIES -->
    <a class="categories-open inline-block px-3 py-3 border-2 border-grey font-medium mb-2 mx-1 cursor-pointer">
      <i class="fas fa-plus mr-1 text-xs"></i>Więcej
    </a>
    <a class="inline-block px-3 py-3 border-2 border-grey font-medium mb-2 mx-1 more-categories" style="display: none;">
      Torby
    </a>
    <a class="inline-block px-3 py-3 border-2 border-grey font-medium mb-2 mx-1 more-categories" style="display: none;">
      Plecaki
    </a>
    <a class="inline-block px-3 py-3 border-2 border-grey font-medium mb-2 mx-1 more-categories" style="display: none;">
      Biżuteria
    </a>
    <a class="inline-block px-3 py-3 border-2 border-grey font-medium mb-2 mx-1 more-categories" style="display: none;">
      Nepal
    </a>
  </div>
  <!-- PRODUCTS GRID -->
  <div class="container-fluid flex flex-wrap" id="products">
    <% @products.each do |product| %>
      <% if product.visible == true %>
        <div class="sm:w-full md:w-1/2 lg:w-1/3 md:px-4 pb-6">
          <div class="boxy">
          <% if product.file.attached? %>
            <%= link_to product_path(product) do %>
              <%= image_tag product.file, class: "blurred" %>
            <% end %>
          <% end %>
          </div>
          <p class="text-center font-medium pt-4 pb-2 text-xl">
            <%= link_to product_path(product) do %>
              <%= product.name %>
            <% end %>
          </p>
          <p class="text-center text-lg font-normal">
            <%= product.price %> ZŁ
          </p>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= will_paginate @products %>
  <div class="sm:hidden">

  <h1>Products</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Where from</th>
        <th>Material</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Category</th>
        <th>Care</th>
        <th>Available</th>
        <th>Color</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.price %></td>
          <td><%= product.where_from %></td>
          <td><%= product.material %></td>
          <td><%= product.description %></td>
          <td><%= product.quantity %></td>
          <td><%= product.category %></td>
          <td><%= product.care %></td>
          <td><%= product.available %></td>
          <td><%= product.color %></td>
          <td><%= link_to 'Show', product %></td>
          <td><%= link_to 'Edit', edit_product_path(product) %></td>
          <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Ar ju siur?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Product', new_product_path %>

  </div>
</div>
