<!DOCTYPE html>
<html>
  <head>
    <title>Skep</title>
    <meta name="viewport" content="width=device-width">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;subset=latin-ext" rel="stylesheet">
  </head>

  <body class="font-body leading-tight">
    <div class="sm:block md:hidden justify-center text-center my-4">
      <%= image_tag "aura.jpg", class: "w-24" %>
    </div>
    
    <header class="bg-white sm:border-t sm:border-b md:border-t-0 md:border-b-0">
      <div class="container mx-auto px-6">
        <nav class="flex sm:py-4 md:py-8 justify-center bg-white uppercase">
          <div class="md:w-1/3 md:text-right self-center">
            <%= link_to "Sklep", products_path, class: "inline-block sm:mr-6 md:mr-10" + cp("products") %>
            <%= link_to "Jurta", products_path, class: "inline-block sm:mr-6 md:mr-0" %></div>
          <div>
            <a href="#" class="sm:hidden md:block self-center">
              <%= image_tag "aura.jpg", class: "w-24 md:mx-8 text-center" %>
            </a>
          </div>
          <div class="md:w-1/3 self-center">
            <%= link_to "O nas", products_path, class: "inline-block sm:mr-6 md:mr-10" %>
            <%= link_to "Kontakt", preferences_path, class: "inline-block" %>
          </div>
        </nav>
      </div>
    </header>
      <% if admin_signed_in? %>
        <%= link_to('Wyloguj', destroy_user_session_path, method: :delete) %>
      <% end %>
      <%= yield %>
  </body>
</html>
