<!DOCTYPE html>
<html>
  <head>
    <title>Skep</title>
    <meta name="viewport" content="width=device-width">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  </head>

  <body class="font-body leading-tight">
    <!-- PANEL ADMINA -->
    <% if admin_signed_in? %>
    <div class="border-b bg-grey-lightest">
      <div class="flex container mx-auto text-center py-4 font-normal md:justify-center">
        <div class="w-1/6 text-left sm:hidden"></div>
        <div class="sm:w-full md:w-2/3 self-center text-center">
          <%= link_to new_product_path, class: "inline-block px-3 py-2 mx-1 text-sm text-white bg-green rounded hover:text-white hover:bg-green-light" do %>
            <i class="fas fa-plus"></i>
          <% end %>
          <a href="#" class="inline-block px-3 py-2 mx-1 text-sm text-white bg-blue rounded hover:text-white hover:bg-blue-light">
            <i class="fas fa-clipboard-list"></i>
          </a>
          <%= link_to manage_index_path, class: "inline-block px-3 py-2 mx-1 text-sm text-white bg-pink rounded hover:text-white hover:bg-pink-light" do %>
            <i class="fas fa-book"></i>
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete, class: "inline-block px-3 py-2 mx-1 text-sm text-white bg-red rounded md:mt-0 hover:text-white hover:bg-red-light" do %>
            <i class="fas fa-sign-out-alt"></i>
          <% end %>
        </div>
        <div class="w-1/6 text-right sm:hidden"></div>
      </div>
    </div>
    <% end %>
    <!-- LOGO -->
    <div class="sm:block md:hidden justify-center text-center my-4">
      <%= image_tag "aura.jpg", class: "w-24" %>
    </div>
    <!-- MENU -->
    <header class="bg-white sm:border-t md:border-t-0 md:border-b">
      <div class="container mx-auto px-6">
        <nav class="flex sm:py-4 md:py-8 justify-center font-normal bg-white uppercase">
          <div class="md:w-1/3 md:text-right self-center">
            <%= link_to "Sklep", products_path, class: "inline-block font-medium sm:mr-6 md:mr-12" %>
            <%= link_to "Jurta", products_path, class: "inline-block sm:mr-6 md:mr-0" %></div>
          <div>
            <a href="#" class="sm:hidden md:block self-center">
              <%= link_to posts_path do %>
                <%= image_tag "aura.jpg", class: "w-24 md:mx-12 text-center" %>
              <% end %>
            </a>
          </div>
          <div class="md:w-1/3 self-center">
            <%= link_to "O nas", products_path, class: "inline-block sm:mr-6 md:mr-12" %>
            <%= link_to "Kontakt", pages_contact_path, class: "inline-block" %>
          </div>
        </nav>
      </div>
    </header>
    <!-- POWIADOMIENIA -->
    <% if notice %>
    <div class="flex fixed pin-t pin-l w-full margin-t-10 p-6 z-50" id="noticed">
      <div class="container mx-auto sm:px-2 md:px-10 bg-green-lightest p-6 rounded">
        <p class="w-full" id="notice">
          <%= notice %>
        </p>
      </div>
    </div>
    <% end %>

    <%= yield %>

  </body>
</html>
