<!DOCTYPE html>
<html>
  <head>
    <title>Aura Nomada</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="turbolinks-cache-control" content="no-preview">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'fontawesome', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>
  <body class="font-body leading-tight">
    <!-- PANEL ADMINA -->
    <% if admin_signed_in? %>
    <div class="sm:hidden md:block border-b bg-grey-lightest">
      <div class="flex container mx-auto text-center py-4 font-normal md:justify-center">
        <div class="w-1/6 text-left sm:hidden"></div>
        <div class="sm:w-full md:w-2/3 self-center text-center">
          <%= link_to new_product_path, class: "inline-block px-3 py-2 mx-1 text-sm text-white bg-green rounded hover:text-white hover:bg-green-light" do %>
            <i class="fas fa-plus"></i>
          <% end %>
          <%= link_to new_post_path, class: "inline-block px-3 py-2 mx-1 text-sm text-white bg-green-dark rounded hover:text-white hover:bg-green-light" do %>
            <i class="fas fa-plus"></i>
          <% end %>
          <a href="#" class="inline-block px-3 py-2 mx-1 text-sm text-white bg-blue rounded hover:text-white hover:bg-blue-light">
            <i class="fas fa-clipboard-list"></i>
          </a>
          <%= link_to manage_index_path, class: "inline-block px-3 py-2 mx-1 text-sm text-white bg-pink rounded hover:text-white hover:bg-pink-light" do %>
            <i class="fas fa-book"></i>
          <% end %>
          <%= link_to destroy_admin_session_path, method: :delete, class: "inline-block px-3 py-2 mx-1 text-sm text-white bg-red rounded md:mt-0 hover:text-white hover:bg-red-light" do %>
            <i class="fas fa-sign-out-alt"></i>
          <% end %>
        </div>
        <div class="w-1/6 text-right sm:hidden"></div>
      </div>
    </div>
    <% end %>
    <!-- MENU -->
    <header class="menu-fixed fixed flex flex-row block sm:px-6 md:px-10 items-center justify-center bg-white overflow-hidden" style="top: 0; left: 0; right: 0; z-index: 999;">
      <div class="w-1/3 block" style="max-height: 36px;">
        <i class="material-icons menu-open cursor-pointer">menu</i>
      </div>
      <div class="w-1/3 block text-center">
        <div class="menu-logo-container overflow-hidden" style="height: 96px;">
          <%= link_to root_path do %>
            <%= image_tag "aura.jpg", srcset: { "aura-2x.jpg" => "2x" }, class: "menu-logo md:mx-12 text-center" %>
          <% end %>
        </div>
      </div>
      <div class="w-1/3 block text-right" style="max-height: 36px;">
        <i class="material-icons cursor-pointer top-arrow" style="font-size: 36px; opacity: 0;">arrow_upward</i>
      </div>
    </header>
    <!-- MOBILE MENU -->
    <div class="menu-mobile flex flex-col block" style="background: #e6ebec; z-index: 1000;">
      <div class="menu-fixed flex block sm:pl-6 md:pl-10">
        <div class="self-center" style="max-height: 36px;">
          <i class="material-icons menu-close cursor-pointer self-center" style="font-size: 36px;">close</i>
        </div>
      </div>
      <div class="flex w-full h-full sm:pl-16 md:pl-20 text-2xl font-semibold">
        <div class="self-center">
          <p class="mb-3">
            <%= link_to 'Journal', root_path %>
          </p>
          <p class="mb-3">
            <%= link_to 'Sklep', shop_path %>
          </p>
          <p class="mb-3">
            Jurta
          </p>
          <p class="mb-3">
            <%= link_to 'O co chodzi?', about_path %>
          </p>
          <p>
            <%= link_to 'Kontakt', contact_path %>
          </p>
          <div class="mt-8">
            <a href="https://www.facebook.com/AuraNomada/" target="_blank">
              <i class="fab fa-facebook-square mr-2"></i>
            </a>
            <a href="https://www.instagram.com/auranomada/" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>
      
      <% if admin_signed_in? %>
        <div class="py-5 pl-12 border-b text-xl font-medium">
          <p class="mb-3">
            <%= link_to new_product_path do %>
              <i class="fas fa-plus text-lg mr-2"></i>Dodaj produkt
            <% end %>
          </p>
          <p class="mb-3">
            <%= link_to manage_index_path do %>
              <i class="fas fa-sliders-h text-lg mr-2"></i>Zarządzaj
            <% end %>
          </p>
          <p>
            <%= link_to destroy_admin_session_path, method: :delete do %>
              <i class="fas fa-sign-out-alt text-lg mr-2"></i>Wyloguj
            <% end %>
          </p>
        </div>
      <% end %>
    </div>

    <!-- POWIADOMIENIA -->
    <% if notice %>
    <div class="flex fixed pin-t pin-l w-full z-50 bg-green-lightest" id="noticed">
      <div class="container mx-auto p-6 rounded">
        <p class="w-full font-medium" id="notice">
          <i class="fas fa-check mr-2 text-green"></i><%= notice %>
        </p>
      </div>
    </div>
    <% end %>

    <%= yield %>

    <!-- FOOTER -->
    <div class="sm:hidden flex flex-col mt-6 py-6 bg-grey-lightest border-t items-center justify-center text-xl">
      <div class="block text-2xl text-grey-dark mb-4">
        <i class="fas fa-arrow-up"></i>
      </div>
      <div class="block mb-2 text-grey-darker">Blog</div>
      <div class="block mb-2 text-grey-darker font-medium">Sklep</div>
      <div class="block text-grey-darker">Kontakt</div>
      <div class="block mt-4 text-3xl text-grey-dark">
        
      </div>
      <div class="block mt-4 text-sm text-grey-darker">
        <i class="far fa-copyright mr-1 text-xs"></i>2019 Aura Good
      </div>
    </div>

  </body>
</html>
